{% extends 'base.html.twig' %}

{% block title %}Mes Certificats{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/certificates.css') }}">
{% endblock %}

{% block body %}
<div class="certificates-container">
    <h1>Mes Certificats</h1>

    <table>
        <thead>
            <tr>
                <th>Cours</th>
                <th>Date d'obtention</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cert in certificates %}
                <tr>
                    <td>{{ cert.course.title }}</td>
                    <td>{{ cert.obtainedAt|date('d/m/Y H:i') }}</td>
                    <td>
                        <a href="{{ path('certificate_pdf', { id: cert.id }) }}" class="btn-view">Télécharger</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun certificat trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_home') }}" class="btn-return">Retour à l'accueil</a>
</div>
{% endblock %}
